# requirements.txt

django
django-cors-headers
django-filter
djangorestframework 
djangorestframework-simplejwt 
psycopg2-binary
django-environ 
drf-spectacular 
celery 
redis 
channels
markdown
python-decouple
dj_database_url
